
@model MotorCycleDB.Models.Motorcycle[]
@{
    ViewBag.Title = "MCDB Home";
}



<h2>@ViewBag.Title</h2>

<div class="row">
    <!--Add and "at" symbol here if you want to use the foreach statement....foreach (var motorcycle in Model) --> 
    
        <div class="col-md-3">
            <h4>Welcome to the Motorcycle Database.  </h4>
        </div>
        <div class="col-md-3">Feel free to look at the list.  If you have a model that needs to be added, feel free.  Please ensure that the data is accurate.</div>
    
</div>