
@model MotorCycleDB.Models.Motorcycle[]
@{
    ViewBag.Title = "Home";
}



<h2>MCDB</h2>

<div class="row">
    <!--This is the Home page view. --> 
    
        <div class="col-md-3">
            <h4>Welcome to the Motorcycle Database.  </h4>
        </div>
        <div class="col-md-3">Feel free to look at the list.  If you have a model that needs to be added, feel free.  Please ensure that the data is accurate.</div>
    
</div>