
@model MotorCycleDB.Models.Motorcycle[]
@{
    ViewBag.Title = "Index";
}



<h2>@ViewBag.Title</h2>

<div class="row">
    <!--Add and "at" symbol here if you want to use the foreach statement....foreach (var motorcycle in Model) --> 
    
        <div class="col-md-3">
            <h4>This is the first page of the Motorcycle Database.  </h4>
        </div>
        <div class="col-md-3">It is hopefully going to have some motorcycles in it one day.</div>
    
</div>